.container {
    .banner {
        width: 100%;
        height: 100px;
        background-color: red;
    }
    .content {
        .catalogue {
            width: 300px;
            float: left;
            padding: 10px 0 30px;
            text-align: center;
            background-color: yellowgreen;
            .catalogue-item {
                line-height: 20px;
                margin-top: 30px;
                .text {
                    display: inline-block;
                    padding: 12px 29px;
                    background-color: cornflowerblue;
                    font-size: 16px;
                    border-radius: 8px;
                    border-top: 1px solid #ffffff;
                    box-shadow: inset 0 4px 3px rgba(255, 255, 222, .7), inset -2px 0 rgba(255, 255, 222, .7), 0 7px 5px 0 rgba(21, 21, 21, 0.7), inset 2px 0 rgba(255, 255, 222, .7);
                    color: white;
                }
                &.hover .text {
                    box-shadow: inset 0 4px 3px rgba(255, 255, 222, .7), inset -2px 0 rgba(233, 179, 217, 0.877), 0 2px 5px 0 rgba(21, 21, 21, .7), inset 2px 0 rgba(233, 179, 217, 0.877);
                }
            }
        }
        .detail {
            display: flex;
        }
    }
}
