.container {
    .banner {
        width: 100%;
        height: 100px;
        background-color: red;
    }
    .content {
        .catalogue {
            width: 300px;
            float: left;
        }
        .detail {
            display: flex;
        }
    }
}
